<div class="container fixed">
    <nav class="navbar ">

        <div class="dropdown">
            <a href=""> Haine</a>
            <div class="dropdown-content">
                <a onclick="onclick_hanorace()">Hanorace</a>
                <a onclick="onclick_sosete()">Sosete</a>
            </div>
        </div>
        <!-- <li><a href=" dsfdsf">Livrare</a></li>
            <li><a href="">Contact</a></li> -->
        <a href="scoala.html">Videoclipuri</a>
        <a href="preturi.html">Preturi</a>


    </nav>
    <img id="logo" src="../imgs/logo.png" alt="logo">
</div>